@page "/"
@using BlazorApp8.Service
@inject AuthProvider AuthProvider
@inject PermissionProvider PermissionProvider

<PageTitle>Home</PageTitle>
<a href="http://localhost:5239/Registration" class="button-style">Зарегистрироваться</a>
<a href="http://localhost:5239/Ljgin" class="button-style">Войти</a>