@page "/Ljgin"
<h3>Ljgin</h3>
<div>
    <p>Почта</p>
    <input type="text" placeholder="Введите почту">
    <p>Пароль</p>
    <input type="password" placeholder="Введите пароль">
</div>

@code {
    
}